* {
  font-family: Lato;
}

header {
  height: 200px;
  width: 100%;
  display: block;
  border-bottom: 2px solid black;
  text-align: center;
  background: url('header_background.jpg') no-repeat;
  background-size: 100%;
  opacity: .6;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}

header h1 {
  color: #129793;
}

header h2 {
  color: #9BD7D5;
}

.leftnav {
  min-height: 400px;
  width: 15%;
  display: inline-block;
  margin-top: 30px;
  border-right: 2px solid black;
  position: fixed;
}

.leftnav h2 {
  color: ##505050;
}

.leftnav li a {
  color: #FF7260;
  text-decoration: none;
}

.leftnav li a:visited {
  color: #FF7260;
  text-decoration: none;
}

.leftnav li a:hover {
  opacity: .6;
}

main {
  min-height: 400px;
  width: 80%;
  display: inline-block;
  margin-top: 30px;
  margin-left: 18%;
  vertical-align: top;
  /*background-color: rgba(18, 151, 147, 0.1); */


}

main p {
  padding-left: 20px;
  color: #505050;
}

main h3 {
  padding-left: 20px;
  font-weight: 700;
  color: #129793;

}

.code {
  color: #FF7260;
  background-color: #E3E3E3;
  font-family: courier;
  font-size: 16px;
  display: block;
  padding-left: 20px;
  width: 70%;
}

hr {
  margin-bottom: 15px;
  font-weight: 700;
}


