* {
  font-family: MyriadPro, Calibri, san-serif;
}

@font-face {
  font-family: MyriadPro;
  src: url('utilities/fonts/MYRIADPRO-REGULAR.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('/utilities/fonts/MYRIADPRO-REGULAR.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/*BACKGROUND*/
body {
  text-align: center;
  /*border: 10px solid #55A16D;*/
}

.code {
  color: black;
  background-color: #E3E3E3;
  font-family: courier;
  font-size: 16px;
  display: block;
  padding-left: 20px;
  width: 70%;
  white-space: pre-line;
}



/*HEADER*/

header {
  /*background-color: #64CF20;*/
  display: block;
  padding:10px;

}

#logo {
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #000;
  padding-right: 10px;
  margin-right: 25px;
}

#logopic {
  height: 100px;
}

#motto {
  text-align: left;
}

#social_media {
  clear: left;
  display: inline-block;
  position: relative;
  top: -7px;
}

.media_icon{
  height: 24px;
  margin: 5px 10px 0px 0px;
  color: red;
}

header .media_icon {
  clear: both;
  float: left;
}

#navbar {
  display: inline-block;
}

.nbutton {
  display: inline-block;
  margin-right: 30px;
}

#buttoncontainer{
  display: inline-block;
  vertical-align: top;
}





/*BODY*/
main {
  /*overflow:auto;*/

}


/*About*/

#descriptioncontainer {
  background-color: #A3E399;
  padding:10px;

}

#sectiontitle {

}

#description {
  display: inline-block;
  width: 500px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 15px;
  text-align: left;
}

#headshot {

  margin: 20px;

}

/*Projects*/
#projects {
  display: block;
/*  background-color: #73CA5A;*/
/*  height: 300px;*/
  padding:10px;
  clear: left;

}

.project {

  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 32.5px;
  border: 10px solid #55A16D;
}

.project img {
  max-width:100%;
  max-height:100%;
}

#social_media_contact {
  display: inline-block;

}

main .media_icon {
  float: left;
  clear: both;
  margin-left: 25px;
  margin-bottom: 10px;


}

#aboutphoto {
  vertical-align: top;
}

/*FOOTER*/
footer {
  background-color: #55A16D;
  display: block;
  padding:10px;

}

footer .media_icon{

}

#cglogo {
  height: 60px;
}

